<% content_for :header_top do %>
  <div class="header-top">
    <div class="container">
      <ul class="top-nav">
        <%= content_tag(:li, link_to("Registrate", root_path)) %>
        <%= content_tag(:li, link_to("Iniciar Sesión", root_path)) %>
        <%= content_tag(:li, link_to(fa_icon("twitter"), root_path), class: "pull-right top-nav-icon") %>
        <%= content_tag(:li, link_to(fa_icon("facebook"), root_path), class: "pull-right top-nav-icon") %>
        <%= content_tag(:li, link_to(fa_icon("instagram"), root_path), class: "pull-right top-nav-icon") %>
        <%= content_tag(:li, class: "pull-right hidden-xs") do %>
          <%= content_tag(:span) do %>
            <%= fa_icon "envelope-o" %>
            <%= link_to "info@tucasa.com", "mailto:info@tucasa.com" %>
          <% end %>
        <% end %>
        <%= content_tag(:li, class: "pull-right hidden-xs") do %>
          <%= content_tag(:span) do %>
            <%= fa_icon "phone" %>
            <%= link_to "809-908-0343", "tel:8099080343" %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<% content_for :header_search_recommended do %>
  <div class="header-search container">
    <%= search_form_for @q, url: properties_url do |f| %>
      <div id="property-status-wrapper" class="property-status-wrapper">
        <div class="radio">
          <%= f.radio_button(:sale_cont, "venta") %>
          <%= f.label :sale_cont, "Comprar", id: "comprar" %>
        </div>
        <div class="radio">
          <%= f.radio_button(:sale_cont, "alquiler") %>
          <%= f.label :sale_cont, "Alquilar", id: "alquilar" %>
        </div>
      </div>
      <div class="input-group search-input-group">
        <%= f.text_field :location_cont, placeholder: "Sector..." %>
        <span class="input-group-btn">
          <button class="btn btn-primary">
            <%= fa_icon "search" %>
            <span class="hidden-xs">Buscar</span>
          </button>
        </span>
      </div>
      <%= f.submit "Buscar" %>
    <% end %>
  </div>
  <div class="header-recommended">
    <div class="my-location">
      <h2 class="my-location-title">Propiedades serca de usted.</h2>
    </div>
    <div class="listings-grid">
      <% @featured_properties.each do |property| %>
        <div class="listings-grid-item">
          <%= link_to(property_path(property)) do %>
              <div class="listings-grid-main">
                <% if property.image1.present? %>
                  <%= image_tag property.image1_url(:large, public: true) %>
                <% elsif property.image2.present? %>
                  <%= image_tag property.image2_url(:large, public: true) %>
                <%# if property.photos.first %>
	                <%#= image_tag property.photos.first.image_url(:medium, public: true) %>
                <% end %>
                <div class="listings-grid-price">
                  <%= number_to_currency(property.price, precision: 0, unit: "US$") %>
                </div>
              </div>
              <div class="listings-grid-body">
                <small><%= property.address %></small>
                <h5><%= property.name %></h5>
              </div>
              <ul class="listings-grid-attrs">
                <li><i class="listings-grid-icon fa fa-bed" aria-hidden="true"> <%= property.room %></i></li>
                <li><i class="listings-grid-icon fa fa-bath" aria-hidden="true"> <%= property.bath %></i></li>
                <li><i class="listings-grid-icon fa fa-car" aria-hidden="true"> <%= property.parking %></i></li>
              </ul>
          <% end %>
          <div class="actions listings-grid-favorite">
            <div class="actions-toggle like-color" id="property_<%= property.id %>_likes">
              <%= render partial: "properties/likes", locals: { property: property } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<section class="section">
  <div class="container">
    <header class="section-title">
      <h2>5,320 propiedades en venta y alquiler.</h2>
      <small>Villas, apartamentos, casa, oficinas, etc...</small>
    </header>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-minimal">
            <h2>Propiedades Recientes en Venta</h2>
            <small>Agregadas Recientes</small>
          </div>
          <div class="grid-widget grid-widget-listings clearfix">
            <div class="col-xs-6">
              <a class="grid-widget-item" href="#">
                <img src="https://s3.amazonaws.com/real.estate.dom/apart.jpg" alt="Propiedad">
                <div class="grid-widget-info">
                  <h3>DOP$ 8,500,000</h3>
                  <small>Apartamento en construcción</small>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="grid-widget-item" href="#">
                <img src="https://s3.amazonaws.com/real.estate.dom/metro.jpg" alt="Propiedad">
                <div class="grid-widget-info">
                  <h3>DOP$ 8,500,000</h3>
                  <small>Apartamento en construcción</small>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="grid-widget-item" href="#">
                <img src="https://s3.amazonaws.com/real.estate.dom/apart.jpg" alt="Propiedad">
                <div class="grid-widget-info">
                  <h3>DOP$ 8,500,000</h3>
                  <small>Apartamento en construcción</small>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="grid-widget-item" href="#">
                <img src="https://s3.amazonaws.com/real.estate.dom/metro.jpg" alt="Propiedad">
                <div class="grid-widget-info">
                  <h3>DOP$ 8,500,000</h3>
                  <small>Apartamento en construcción</small>
                </div>
              </a>
            </div>
          </div>
          <a class="view-more" href="#">
            Ver Propiedades en Venta
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-minimal">
            <h2>Propiedades Recientes en Alquiler</h2>
            <small>Agregadas Recientes</small>
          </div>
          <div class="grid-widget grid-widget-listings clearfix">
            <div class="col-xs-6">
              <a class="grid-widget-item" href="#">
                <img src="https://s3.amazonaws.com/real.estate.dom/apart.jpg" alt="Propiedad">
                <div class="grid-widget-info">
                  <h3>DOP$ 8,500,000</h3>
                  <small>Apartamento en construcción</small>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="grid-widget-item" href="#">
                <img src="https://s3.amazonaws.com/real.estate.dom/metro.jpg" alt="Propiedad">
                <div class="grid-widget-info">
                  <h3>DOP$ 8,500,000</h3>
                  <small>Apartamento en construcción</small>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="grid-widget-item" href="#">
                <img src="https://s3.amazonaws.com/real.estate.dom/apart.jpg" alt="Propiedad">
                <div class="grid-widget-info">
                  <h3>DOP$ 8,500,000</h3>
                  <small>Apartamento en construcción</small>
                </div>
              </a>
            </div>
            <div class="col-xs-6">
              <a class="grid-widget-item" href="#">
                <img src="https://s3.amazonaws.com/real.estate.dom/metro.jpg" alt="Propiedad">
                <div class="grid-widget-info">
                  <h3>DOP$ 8,500,000</h3>
                  <small>Apartamento en construcción</small>
                </div>
              </a>
            </div>
          </div>
          <a class="view-more" href="#">
            Ver Propiedades en Alquiler
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
