<%= form_for(@user, url: yield(:user_url)) do |f| %>
  <%= render 'shared/user_error_messages' %>


<div class="image_to_preview">
  <% if @user.errors.any? && @user.avatar.present? %>
    <%= image_tag @user.avatar_url(:small), size: "120x120", class: "default_image" %>
  <% elsif @user.errors.any? %>
    <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default_avatar.png", size: "120x120", class: "default_image", id: "output") %>
  <% elsif @user.avatar.present? %>
    <%= image_tag @user.avatar_url(:small), size: "120x120", class: "default_image", id: "output" %>
  <% else %>
    <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default_avatar.png", size: "120x120", class: "default_image", id: "output") %>
  <% end %>
</div>



  <%= f.hidden_field :avatar, value: @user.cached_avatar_data %>
  <%= f.file_field :avatar, onchange: 'loadFile(event)', id: "hidden" %>

  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email %>
  <%= f.email_field :email, class: "form-control" %>

  <%= f.label :password %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, "Confirmación" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.submit yield(:user_button_text), class: "btn btn-primary" %>
<% end %>
