<div class="block">
  <div class="form-group">
    <%= f.check_box :balcon %>
    <%= f.label :balcon, "Balcón", class: "check_box_label" %>
  </div>

  <div class="form-group">
    <%= f.check_box :piscina %>
    <%= f.label :piscina, "Piscina", class: "check_box_label" %>
  </div>

  <div class="form-group">
    <%= f.check_box :cisterna %>
    <%= f.label :cisterna, "Cisterna", class: "check_box_label" %>
  </div>
</div>

<div class="block">
  <div class="form-group">
    <%= f.check_box :planta_electrica %>
    <%= f.label :planta_electrica, "Planta Electrica", class: "check_box_label" %>
  </div>

  <div class="form-group">
    <%= f.check_box :jacuzzi %>
    <%= f.label :jacuzzi, "Jacuzzi", class: "check_box_label" %>
  </div>

  <div class="form-group">
    <%= f.check_box :gym %>
    <%= f.label :gym, "Gym", class: "check_box_label" %>
  </div>
</div>

<div class="block">
  <div class="form-group">
    <%= f.check_box :habitacion_servicio %>
    <%= f.label :habitacion_servicio, "Habitación de Servicio", class: "check_box_label" %>
  </div>

  <div class="form-group">
    <%= f.check_box :ascensor %>
    <%= f.label :ascensor, "Ascensor", class: "check_box_label" %>
  </div>

  <div class="form-group">
    <%= f.check_box :seguridad %>
    <%= f.label :seguridad, "Seguridad 24/7", class: "check_box_label" %>
  </div>

  <div class="form-group">
    <%= f.check_box :gas %>
    <%= f.label :gas, "Gas Común", class: "check_box_label" %>
  </div>
</div>
