<aside id="main-sidebar">
  <a href="" class="hidden-lg main-block-close">
    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
  </a>
  <ul class="main-menu">
    <li class="alt-profile-img">
      <a href="">
        <% if @current_agent.avatar.present? %>
          <%= image_tag @current_agent.avatar_url(:small) %>
          <h4><%= @current_agent.name %></h4>
        <% else %>
          <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg") %>
          <h4><%= @current_agent.name %></h4>
        <% end %>
        <!-- <img src="../images/03.jpg" alt="profile">
        <h4>Rafael Montas</h4> -->
      </a>
    </li>
    <li>
      <a href="../index.html">
        <i class="fa fa-home" aria-hidden="true"></i>
        Inicio
      </a>
    </li>
    <li class="active">
      <%= link_to private_path do %>
        <i class="fa fa-th-list" aria-hidden="true"></i>
        Propiedades
      <% end %>
    </li>
    <li>
      <%= link_to pending_properties_path do %>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
        Prop. Pendientes
      <% end %>
    </li>
    <li>
      <%= link_to(edit_agent_path(@current_agent)) do %>
        <i class="fa fa-cog" aria-hidden="true"></i>
        Editar Perfil
      <% end %>
    </li>
    <li>
      <%= link_to agents_logout_path, method: "delete" do %>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Cerrar Sesión
      <% end %>
    </li>
  </ul>
</aside>
<section id="main-content">
  <div class="main-container agent-new-property">
    <header class="main-title text-center">
      <h2>Editar Propiedad <%= @property.name %></h2>
      <small>Al editar propiedad esta será enviada para validación nuevamente</small>
    </header>
    <%= render 'shared/properties_error_messages' %>
    <div class="submit-property">
      <%= form_for([@agent, @property], url: agent_property_path) do |f| %>


        <ul class="submit-property-steps">
          <li class="active">
            <a data-turbolinks="false">1</a>
          </li>
          <li>
            <a data-turbolinks="false">2</a>
          </li>
          <li>
            <a data-turbolinks="false">3</a>
          </li>
          <li>
            <a data-turbolinks="false">4</a>
          </li>
        </ul>
        <div class="tab-content submit-property-content">
          <div class="tab-pane fade" id="submit-property-1">
            <div class="card">
              <div class="card-header">
                <h2>Ubicación De La Propiedad</h2>
                <small>Dirección</small>
              </div>
              <div class="card-body">
                <div class="form-group form-group-float" id="form-for-address">
                  <%= f.text_field :address, class: "form-control" %>
                  <%= f.label :address, "Calle/Ubicación de la Propiedad" %>
                </div>
                <div class="form-group form-group-float" id="form-for-name">
                  <%= f.text_field :name, class: "form-control" %>
                  <%= f.label :name, "Nombre ej. Edificio, solar, casa..." %>
                </div>
                <div class="form-group">
                  <%= f.label :location, "Sector" %>
                  <%= f.select :location, [['Naco', 'naco'], ['Piantini', 'piantini'], ['Evaristo Morales', 'evaristo morales']] %>
                </div>
                <a data-turbolinks="false" class="btn-circle btn-primary submit-property-button" id="submit-property-1-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="submit-property-2">
            <div class="card">
              <div class="card-header">
                <h2>Información De La Propiedad 1</h2>
                <small>Datos Generales</small>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <%= f.label :kind, "Tipo de Propiedad" %>
                  <%= f.select :kind, [['Apartamento', 'apartamento'],
                                       ['Penthouse', 'penthouse'],
                                       ['Casa', 'casa'],
                                       ['Villa', 'villa'],
                                       ['Solar', 'solar'],
                                       ['Oficina', 'oficina'],
                                       ['Edificio', 'edificio'],
                                       ['Local Comercial', 'local comercial']],
                                       selected: 'apartamento' %>
                </div>
                <div class="form-group">
                  <%= f.label :sale, "Venta/Alquiler" %>
                  <%= f.select :sale, [['En Venta', 'en venta'], ['En Alquiler', 'en alquiler']], selected: 'venta' %>
                </div>
                <div class="form-group form-group-float" id="form-for-mts">
                  <%= f.number_field :mts, class: "form-control" %>
                  <%= f.label :mts, "Metros Cuadrados (mt2)" %>
                </div>
                <div class="form-group form-group-float" id="form-for-price">
                  <%= f.number_field :price, class: "form-control" %>
                  <%= f.label :price, "Precio De Publicación en USD$" %>
                </div>
                <a data-turbolinks="false" class="btn-circle btn-primary submit-property-button" id="submit-property-2-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="submit-property-3">
            <div class="card">
              <div class="card-header">
                <h2>Información De La Propiedad 2</h2>
                <small>Datos Generales</small>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <%= f.label :room, "Habitaciones" %>
                  <%= f.select :room, [['1 habitación', 1],
                                       ['2 habitaciones', 2],
                                       ['3 habitaciones', 3],
                                       ['4 habitaciones', 4],
                                       ['5 habitaciones', 5],
                                       ['6 habitaciones', 6]] %>
                </div>
                <div class="form-group">
                  <%= f.label :bath, "Baños" %>
                  <%= f.select :bath, [['1+ Baño', 1], ['2+ Baños', 2], ['3+ Baños', 3], ['4+ Baños', 4], ['5+ Baños', 5], ['6+ Baños', 6]] %>
                </div>
                <div class="form-group">
                  <%= f.label :parking, "Parqueos" %>
                  <%= f.select :parking, [['1 Parqueo', 1], ['2 Parqueos', 2], ['3 Parqueos', 3], ['4 Parqueos', 4]] %>
                </div>
                <div class="form-group">
                  <%= f.label :general, "Descripción De La Propiedad" %>
                  <%= f.text_area :general %>
                </div>
                <a data-turbolinks="false" class="btn-circle btn-primary submit-property-button" id="submit-property-3-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-10 col-sm-push-1 tab-pane fade" id="submit-property-4">
            <div class="card">
              <div class="card-header">
                <h2>Fotografías De La Propiedad</h2>
                <small>Selecionar Imágenes</small>
              </div>
              <div class="card-body img-upload">
                <div class="personal-row">
                  <div class="form-group">
                    <div class="image_to_preview">
                      <h4 class="text-center">Imagen #1</h4>
                      <% if @property.errors.any? && @property.image1.present? %>
                        <%= image_tag @property.image1_url(:small), class: "default_image_properties default-1" %>
                      <% elsif @property.errors.any? %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-1", id: "output1") %>
                      <% elsif @property.image1.present? %>
                        <%= image_tag @property.image1_url(:small), class: "default_image_properties default-1", id: "output1" %>
                      <% else %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-1", id: "output1") %>
                      <% end %>
                    </div>
                    <%= f.hidden_field :image1, value: @property.cached_image1_data %>
                    <%= f.file_field :image1, onchange: 'loadFile1(event)', class: "hidden", id: "hidden1" %>
                  </div>
                  <div class="form-group">
                    <div class="image_to_preview">
                      <h4 class="text-center">Imagen #2</h4>
                      <% if @property.errors.any? && @property.image2.present? %>
                        <%= image_tag @property.image2_url(:small), class: "default_image_properties default-2" %>
                      <% elsif @property.errors.any? %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-2", id: "output2") %>
                      <% elsif @property.image2.present? %>
                        <%= image_tag @property.image2_url(:small), class: "default_image_properties default-2", id: "output2" %>
                      <% else %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-2", id: "output2") %>
                      <% end %>
                    </div>
                    <%= f.hidden_field :image2, value: @property.cached_image2_data %>
                    <%= f.file_field :image2, onchange: 'loadFile2(event)', class: "hidden", id: "hidden2" %>
                  </div>
                </div>
                <div class="personal-row">
                  <div class="form-group">
                    <div class="image_to_preview">
                      <h4 class="text-center">Imagen #3</h4>
                      <% if @property.errors.any? && @property.image3.present? %>
                        <%= image_tag @property.image3_url(:small), class: "default_image_properties default-3" %>
                      <% elsif @property.errors.any? %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-3", id: "output3") %>
                      <% elsif @property.image3.present? %>
                        <%= image_tag @property.image3_url(:small), class: "default_image_properties default-3", id: "output3" %>
                      <% else %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-3", id: "output3") %>
                      <% end %>
                    </div>
                    <%= f.hidden_field :image3, value: @property.cached_image3_data %>
                    <%= f.file_field :image3, onchange: 'loadFile3(event)', class: "hidden", id: "hidden3" %>
                  </div>
                  <div class="form-group">
                    <div class="image_to_preview">
                      <h4 class="text-center">Imagen #4</h4>
                      <% if @property.errors.any? && @property.image4.present? %>
                        <%= image_tag @property.image4_url(:small), class: "default_image_properties default-4" %>
                      <% elsif @property.errors.any? %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-4", id: "output4") %>
                      <% elsif @property.image4.present? %>
                        <%= image_tag @property.image4_url(:small), class: "default_image_properties default-4", id: "output4" %>
                      <% else %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-4", id: "output4") %>
                      <% end %>
                    </div>
                    <%= f.hidden_field :image4, value: @property.cached_image4_data %>
                    <%= f.file_field :image4, onchange: 'loadFile4(event)', class: "hidden", id: "hidden4" %>
                  </div>
                </div>
                <div class="personal-row">
                  <div class="form-group">
                    <div class="image_to_preview">
                      <h4 class="text-center">Imagen #5</h4>
                      <% if @property.errors.any? && @property.image5.present? %>
                        <%= image_tag @property.image5_url(:small), class: "default_image_properties default-5" %>
                      <% elsif @property.errors.any? %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-5", id: "output5") %>
                      <% elsif @property.image5.present? %>
                        <%= image_tag @property.image5_url(:small), class: "default_image_properties default-5", id: "output5" %>
                      <% else %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-5", id: "output5") %>
                      <% end %>
                    </div>
                    <%= f.hidden_field :image5, value: @property.cached_image5_data %>
                    <%= f.file_field :image5, onchange: 'loadFile5(event)', class: "hidden", id: "hidden5" %>
                  </div>
                  <div class="form-group">
                    <div class="image_to_preview">
                      <h4 class="text-center">Imagen #6</h4>
                      <% if @property.errors.any? && @property.image6.present? %>
                        <%= image_tag @property.image6_url(:small), class: "default_image_properties default-6" %>
                      <% elsif @property.errors.any? %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-6", id: "output6") %>
                      <% elsif @property.image6.present? %>
                        <%= image_tag @property.image6_url(:small), class: "default_image_properties default-6", id: "output6" %>
                      <% else %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-6", id: "output6") %>
                      <% end %>
                    </div>
                    <%= f.hidden_field :image6, value: @property.cached_image6_data %>
                    <%= f.file_field :image6, onchange: 'loadFile6(event)', class: "hidden", id: "hidden6" %>
                  </div>
                </div>
                <div class="personal-row">
                  <div class="form-group">
                    <div class="image_to_preview">
                      <h4 class="text-center">Imagen #7</h4>
                      <% if @property.errors.any? && @property.image7.present? %>
                        <%= image_tag @property.image7_url(:small), class: "default_image_properties default-7" %>
                      <% elsif @property.errors.any? %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-7", id: "output7") %>
                      <% elsif @property.image7.present? %>
                        <%= image_tag @property.image7_url(:small), class: "default_image_properties default-7", id: "output7" %>
                      <% else %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-7", id: "output7") %>
                      <% end %>
                    </div>
                    <%= f.hidden_field :image7, value: @property.cached_image7_data %>
                    <%= f.file_field :image7, onchange: 'loadFile7(event)', class: "hidden", id: "hidden7" %>
                  </div>
                  <div class="form-group">
                    <div class="image_to_preview">
                      <h4 class="text-center">Imagen #8</h4>
                      <% if @property.errors.any? && @property.image8.present? %>
                        <%= image_tag @property.image8_url(:small), class: "default_image_properties default-8" %>
                      <% elsif @property.errors.any? %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-8", id: "output8") %>
                      <% elsif @property.image8.present? %>
                        <%= image_tag @property.image8_url(:small), class: "default_image_properties default-8", id: "output8" %>
                      <% else %>
                        <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "default_image_properties default-8", id: "output8") %>
                      <% end %>
                    </div>
                    <%= f.hidden_field :image8, value: @property.cached_image8_data %>
                    <%= f.file_field :image8, onchange: 'loadFile8(event)', class: "hidden", id: "hidden8" %>
                  </div>
                </div>
                <%= f.submit "Editar publicación" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
