<% content_for :header_top do %>
  <div class="header-top">
    <div class="container">
      <ul class="top-nav">
        <%= content_tag(:li, link_to("Registrate", root_path)) %>
        <%= content_tag(:li, link_to("Iniciar Sesión", root_path)) %>
        <%= content_tag(:li, link_to(fa_icon("twitter"), root_path), class: "pull-right top-nav-icon") %>
        <%= content_tag(:li, link_to(fa_icon("facebook"), root_path), class: "pull-right top-nav-icon") %>
        <%= content_tag(:li, link_to(fa_icon("instagram"), root_path), class: "pull-right top-nav-icon") %>
        <%= content_tag(:li, class: "pull-right hidden-xs") do %>
          <%= content_tag(:span) do %>
            <%= fa_icon "envelope-o" %>
            <%= link_to "info@tucasa.com", "mailto:info@tucasa.com" %>
          <% end %>
        <% end %>
        <%= content_tag(:li, class: "pull-right hidden-xs") do %>
          <%= content_tag(:span) do %>
            <%= fa_icon "phone" %>
            <%= link_to "809-908-0343", "tel:8099080343" %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<% content_for :header_search_recommended do %>
  <div class="header-search container">
    <form>
      <div class="search">
        <div class="search-type dropdown">
          <a href="#" data-toggle="dropdown" aria-expanded="false" id="search-link">Renta<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
          <div class="dropdown-menu">
            <div>
              <input type="radio" name="property-type" value="Renta" class="rent_or_buy">
              <span>Renta</span>
            </div>
            <div>
              <input type="radio" name="property-type" value="Compra" class="rent_or_buy">
              <span>Compra</span>
            </div>
          </div>
        </div>
        <div class="search-body">
          <input type="text" class="search-input" placeholder="Buscar" data-rmd-action="advanced-search-open">
          <div class="search-advanced">
            <div class="col-sm-6">
              <div class="form-group form-group-float form-group-active">
                <input type="text" class="form-control" placeholder="Naco, Santo Domingo">
                <label>Sector o Ciudad</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Tipo de Propiedad</label>
                <select class="select2 select2-hidden-accessible" name="">
                  <option value="Apartamento">Apartamento</option>
                  <option value="Casa">Casa</option>
                  <option value="Villa">Villa</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Precio</label>
                <div class="price-in">
                  <small>Minimo</small>
                  <select class="range" name="">
                    <option value="0">0</option>
                    <option value="500000">RD$ 500,000</option>
                    <option value="1000000">RD$ 1,000,000</option>
                    <option value="1500000">RD$ 1,500,000</option>
                    <option value="2000000">RD$ 2,000,000</option>
                  </select>
                </div>
                <div class="price-in">
                  <small>Maximo</small>
                  <select class="range" name="">
                    <option value="0">0</option>
                    <option value="500000">RD$ 500,000</option>
                    <option value="1000000">RD$ 1,000,000</option>
                    <option value="1500000">RD$ 1,500,000</option>
                    <option value="2000000">RD$ 2,000,000</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Habitaciones y Baños</label>
                <div class="price-in">
                  <small>Habitaciones</small>
                  <select class="range" name="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
                <div class="price-in">
                  <small>Baños</small>
                  <select class="range" name="">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-xs-12 m-t-10">
              <a href="pages/search.html">Buscar</a>
              <button class="btn prevent cancel">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="header-recommended">
    <div class="my-location">
      <h2 class="my-location-title">Propiedades serca de usted.</h2>
    </div>
    <div class="listings-grid">
      <% @properties.each do |property| %>
        <%= link_to(property_path(property)) do %>
          <div class="listings-grid-item">

              <div class="listings-grid-main">
                <% if property.image.present? %>
                  <%= image_tag property.image_url(:medium) %>
                <% end %>
                <div class="listings-grid-price">DOP$ 8,500,000</div>
              </div>
              <div class="listings-grid-body">
                <small>C/ Fabio Mota #9</small>
                <h5>Apartamento en construcción</h5>
              </div>
              <ul class="listings-grid-attrs">
                <li><i class="listings-grid-icon fa fa-bed" aria-hidden="true"> 03</i></li>
                <li><i class="listings-grid-icon fa fa-bath" aria-hidden="true"> 02</i></li>
                <li><i class="listings-grid-icon fa fa-car" aria-hidden="true"> 02</i></li>
              </ul>

            <div class="listings-grid-favorite">
              <i class="listings-grid-icon fa fa-heart-o" aria-hidden="true"></i>
            </div>
          </div>
        <% end %>
      <% end %>
        <!-- <div>your content</div> -->


    </div>
  </div>
<% end %>
<section class="section">
      <div class="container">
        <header class="section-title">
          <h2>5,320 propiedades en venta y alquiler.</h2>
          <small>Villas, apartamentos, casa, oficinas, etc...</small>
        </header>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-minimal">
                <h2>Propiedades Recientes en Venta</h2>
                <small>Agregadas Recientes</small>
              </div>
              <div class="grid-widget grid-widget-listings clearfix">
                <div class="col-xs-6">
                  <a class="grid-widget-item" href="#">
                    <img src="https://s3.amazonaws.com/real.estate.dom/apart.jpg" alt="Propiedad">
                    <div class="grid-widget-info">
                      <h3>DOP$ 8,500,000</h3>
                      <small>Apartamento en construcción</small>
                    </div>
                  </a>
                </div>
                <div class="col-xs-6">
                  <a class="grid-widget-item" href="#">
                    <img src="https://s3.amazonaws.com/real.estate.dom/metro.jpg" alt="Propiedad">
                    <div class="grid-widget-info">
                      <h3>DOP$ 8,500,000</h3>
                      <small>Apartamento en construcción</small>
                    </div>
                  </a>
                </div>
                <div class="col-xs-6">
                  <a class="grid-widget-item" href="#">
                    <img src="https://s3.amazonaws.com/real.estate.dom/apart.jpg" alt="Propiedad">
                    <div class="grid-widget-info">
                      <h3>DOP$ 8,500,000</h3>
                      <small>Apartamento en construcción</small>
                    </div>
                  </a>
                </div>
                <div class="col-xs-6">
                  <a class="grid-widget-item" href="#">
                    <img src="https://s3.amazonaws.com/real.estate.dom/metro.jpg" alt="Propiedad">
                    <div class="grid-widget-info">
                      <h3>DOP$ 8,500,000</h3>
                      <small>Apartamento en construcción</small>
                    </div>
                  </a>
                </div>
              </div>
              <a class="view-more" href="#">
                Ver Propiedades en Venta
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header card-header-minimal">
                <h2>Propiedades Recientes en Alquiler</h2>
                <small>Agregadas Recientes</small>
              </div>
              <div class="grid-widget grid-widget-listings clearfix">
                <div class="col-xs-6">
                  <a class="grid-widget-item" href="#">
                    <img src="https://s3.amazonaws.com/real.estate.dom/apart.jpg" alt="Propiedad">
                    <div class="grid-widget-info">
                      <h3>DOP$ 8,500,000</h3>
                      <small>Apartamento en construcción</small>
                    </div>
                  </a>
                </div>
                <div class="col-xs-6">
                  <a class="grid-widget-item" href="#">
                    <img src="https://s3.amazonaws.com/real.estate.dom/metro.jpg" alt="Propiedad">
                    <div class="grid-widget-info">
                      <h3>DOP$ 8,500,000</h3>
                      <small>Apartamento en construcción</small>
                    </div>
                  </a>
                </div>
                <div class="col-xs-6">
                  <a class="grid-widget-item" href="#">
                    <img src="https://s3.amazonaws.com/real.estate.dom/apart.jpg" alt="Propiedad">
                    <div class="grid-widget-info">
                      <h3>DOP$ 8,500,000</h3>
                      <small>Apartamento en construcción</small>
                    </div>
                  </a>
                </div>
                <div class="col-xs-6">
                  <a class="grid-widget-item" href="#">
                    <img src="https://s3.amazonaws.com/real.estate.dom/metro.jpg" alt="Propiedad">
                    <div class="grid-widget-info">
                      <h3>DOP$ 8,500,000</h3>
                      <small>Apartamento en construcción</small>
                    </div>
                  </a>
                </div>
              </div>
              <a class="view-more" href="#">
                Ver Propiedades en Alquiler
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
