<section class="section">

  <div class="navbar navbar-static facet-bar affix-top">
    <div class="container facet-bar-container">
      <%= search_form_for @q do |f| %>
        <div class="float-left facet-location">
          <div class="form-group facet-search-wrapper">
            <div class="input-group search-input-group">
              <%= f.text_field :location_cont, placeholder: "Sector...", class: "form-control" %>
              <span class="input-group-btn">
                <button class="btn btn-primary">
                  <%= fa_icon "search" %>
                </button>
                <%#= f.submit class: "btn btn-primary" do %>
                  <%#= fa_icon "search" %>
                <%# end %>
              </span>
            </div>
          </div>
        </div>
        <ul class="nav navbar-nav facet-options-list float-left">
          <li class="dropdown facet-sale">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span id="text-sale">Comp/Alq</span>
              <%= fa_icon "caret-down" %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= f.radio_button(:sale_cont, "alquiler") %>
                <%= f.label :sale_cont, "Alquilar", class: "click-sale", id: "alquilar" %>
              </li>
              <li>
                <%= f.radio_button(:sale_cont, "venta") %>
                <%= f.label :sale_cont, "Comprar", class: "click-sale",id: "comprar" %>
              </li>
            </ul>
          </li>
          <li class="dropdown facet-price hidden-xxs">
            <a href="#" class="dropdown-toggle drop-menu" data-toggle="dropdown" aria-expanded="false">
              <span id="text-price">Precio</span>
              <span id="text-price-max"></span>
              <%= fa_icon "caret-down" %>
            </a>
            <ul class="dropdown-menu dropdown-price js-prevent-dropdown-close">
              <li>
                <div class="clearfix facet-price-form">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="facet-price-wrap">
                        <div class="input-group facet-price-input">
                          <span class="input-group-addon">US$</span>
                          <%= f.text_field :price_gteq, placeholder: "Min", class: "form-control" %>
                        </div>
                      </div>
                      <span class="input-range-indicator"></span>
                      <div class="facet-price-wrap">
                        <div class="input-group facet-price-input">
                          <span class="input-group-addon">US$</span>
                          <%= f.text_field :price_lteq, placeholder: "Max", class: "form-control" %>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="facet-price-list-wrap">
                        <ul class="facet-price-list" id="facet-price-list-min">
                          <li data-val="0">$0</li>
                          <li data-val="50000">$50K</li>
                          <li data-val="100000">$100K</li>
                          <li data-val="150000">$150K</li>
                          <li data-val="200000">$200K</li>
                          <li data-val="250000">$250K</li>
                          <li data-val="300000">$300K</li>
                        </ul>
                        <ul class="facet-price-list" id="facet-price-list-max">
                          <li data-val="0">$0</li>
                          <li data-val="50000">$50K</li>
                          <li data-val="100000">$100K</li>
                          <li data-val="150000">$150K</li>
                          <li data-val="200000">$200K</li>
                          <li data-val="350000">$350K</li>
                          <li data-val="600000">$600K</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li class="dropdown facet-bd">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span id="text-bd">Dormitorios</span>
              <%= fa_icon "caret-down" %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= f.radio_button(:room_eq, "", id: "none_button") %>
                <%= f.label :room_eq, "...", class: "click", id: "none_main", for: "none_button" %>
              </li>
              <li>
                <%= f.radio_button(:room_eq, "1", id: "one_button") %>
                <%= f.label :room_eq, "1+", class: "click", id: "one_main", for: "one_button" %>
              </li>
              <li>
                <%= f.radio_button(:room_eq, "2", id: "two_button") %>
                <%= f.label :room_eq, "2+", class: "click", id: "two", for: "two_button" %>
              </li>
              <li>
                <%= f.radio_button(:room_eq, "3", id: "three_button") %>
                <%= f.label :room_eq, "3+", class: "click", id: "three", for: "three_button" %>
              </li>
              <li>
                <%= f.radio_button(:room_eq, "4", id: "four_button") %>
                <%= f.label :room_eq, "4+", class: "click", id: "four", for: "four_button" %>
              </li>
              <li>
                <%= f.radio_button(:room_eq, "5", id: "five_button") %>
                <%= f.label :room_eq, "5+", class: "click", id: "five", for: "five_button" %>
              </li>
            </ul>
          </li>
          <li class="dropdown facet-ba">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span id="text-ba">Baños</span>
              <%= fa_icon "caret-down" %>
            </a>
            <ul class="dropdown-menu">
              <li data-value>
                <%= f.radio_button(:bath_eq, "") %>
                <%= f.label :bath_eq, "...", class: "click-ba", id: "nonebath" %>
              </li>
              <li data-value="1">
                <%= f.radio_button(:bath_eq, "1") %>
                <%= f.label :bath_eq, "1+", class: "click-ba", id: "1bath" %>
              </li>
              <li data-value="2">
                <%= f.radio_button(:bath_eq, "2") %>
                <%= f.label :bath_eq, "2+", class: "click-ba", id: "2bath" %>
              </li>
              <li data-value="3">
                <%= f.radio_button(:bath_eq, "3") %>
                <%= f.label :bath_eq, "3+", class: "click-ba", id: "3bath" %>
              </li>
              <li data-value="4">
                <%= f.radio_button(:bath_eq, "4") %>
                <%= f.label :bath_eq, "4+", class: "click-ba", id: "4bath" %>
              </li>
              <li data-value="5">
                <%= f.radio_button(:bath_eq, "5") %>
                <%= f.label :bath_eq, "5+", class: "click-ba", id: "5bath" %>
              </li>
            </ul>
          </li>
          <li class=" dropdown facet-property-type">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <span>Tipo de Propiedad</span>
              <%= fa_icon "caret-down" %>
            </a>
            <ul class="dropdown-menu">
              <li>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :kind_cont_any, { name: "q[kind_cont_any][]" }, "apartamento", "" %>
                    Apartamento
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :kind_cont_any, { name: "q[kind_cont_any][]" }, "casa", "" %>
                    Casa
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :kind_cont_any, { name: "q[kind_cont_any][]" }, "penthouse", "" %>
                    Penthouse
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :kind_cont_any, { name: "q[kind_cont_any][]" }, "villa", "" %>
                    Villa
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :kind_cont_any, { name: "q[kind_cont_any][]" }, "oficina", "" %>
                    Oficina
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :kind_cont_any, { name: "q[kind_cont_any][]" }, "local comercial", "" %>
                    Local Comercial
                  </label>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="container search-results">
    <header class="section_title">
      <h2>Duis mollisest non commodo luctus nisierat porttito</h2>
      <small>Vestibulum id ligula porta felis euismod semper</small>
    </header>
    <div class="row">
      <div class="col-sm-8 listings-list">
        <% @properties.each do |property| %>
          <div class="listings-grid-item">
            <%= link_to(property_url(property), class: "media") do %>
              <div class="listings-grid-main pull-left">
                <% if property.photos.first %>
                  <%= image_tag property.photos.first.image_url(:large, public: true) %>
                <% end %>
                <div class="listings-grid-price">
                  <%= number_to_currency(property.price, precision: 0, unit: "US$") %>
                </div>
              </div>
              <div class="media-body">
                <div class="listings-grid-body">
                  <small><%= property.name %></small>
                  <h5><%= property.address %></h5>
                </div>
                <ul class="listings-grid-attrs">
                  <li>
                    <%= fa_icon "bed" %>
                    <%= property.room %>
                  </li>
                  <li>
                    <%= fa_icon "bath" %>
                    <%= property.bath %>
                  </li>
                  <li>
                    <%= fa_icon "car" %>
                    <%= property.parking %>
                  </li>
                  <!-- <li class="pull-right">
                    <%#= fa_icon "heart-o" %>
                  </li> -->
                </ul>
              </div>
            <% end %>
            <div class="actions listings-grid-favorite">
              <div class="actions-toggle like-color" id="property_<%= property.id %>_likes">
                <%= render partial: "likes", locals: { property: property } %>
              </div>
            </div>
          </div>
        <% end %>
        <%= will_paginate %>
      </div>
      <aside class="col-sm-4 hidden-xs">
        <div class="card subscribe mdc-bg-light-blue">
          <div class="subscribe-icon">
            <%= fa_icon "envelope-o" %>
          </div>
          <h2>Subscribirse...</h2>
          <small>Así recibiras emails de nuevas publicaciones que te puedan interesar</small>
          <!-- Modify form -->
          <form>
            <div class="form-group form-group-light form-group-float form-group-active">
              <label>Email</label>
              <input type="text" class="form-control text-center" >
            </div>
            <button class="btn btn-circle">
              <i class="fa fa-check mdc-text-light-blue" aria-hidden="true"></i>
            </button>
          </form>
        </div>
      </aside>
    </div>
  </div>
</section>
<button class="btn btn-action btn-circle hidden-sm hidden-md hidden-lg" data-rmd-action="block-open" data-rmd-target="#mobile-search">
  <i class="fa fa-search" aria-hidden="true"></i>
</button>
<aside class="rmd-sidebar" id="mobile-search">
  <%= search_form_for @q, html: { class: "card" } do |f| %>
    <div class="card-header">
      <h2>Buscar Propiedades</h2>
    </div>
    <div class="card-body m-t-20">
      <div class="form-group form-group-float form-group-active">
        <%= f.text_field :location_cont, placeholder: "Sector...", class: "form-control" %>
        <%= f.label :location_cont, "Ubicación" %>
      </div>
      <div class="form-group">
        <label>Tipo De Busqueda</label>
        <div class="btn-group btn-group-justified">
          <div class="radio-mobile">
            <%= f.radio_button(:sale_cont, "venta", id: "q_sale_cont_venta_mobile") %>
            <%= f.label :sale_cont, "Comprar", id: "comprar-mobile" %>
          </div>
          <div class="radio-mobile">
            <%= f.radio_button(:sale_cont, "alquiler", id: "q_sale_cont_alquiler_mobile") %>
            <%= f.label :sale_cont, "Alquilar", id: "alquilar-mobile" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Tipo De Propiedad</label>
        <%= f.select :kind_cont, [['apartamento'],
                                 ['casa'],
                                 ['penthouse'],
                                 ['villa'],
                                 ['oficina'],
                                 ['local comercial']] %>
      </div>
      <div class="form-group">
        <%= f.label :price_gteq, "Rango De Precio" %>
        <div class="price-mobile-div">
          <div class="text-min-max">
            <h4>Minimo</h4>
            <h4>Maximo</h4>
          </div>
          <div class="pull-left">
            <%= f.select :price_gteq, [['US$ 50,000', 50000],
                                      ['US$ 100,000', 100000],
                                      ['US$ 150,000', 150000],
                                      ['US$ 200,000', 200000],
                                      ['US$ 250,000', 250000],
                                      ['US$ 300,000', 350000]] %>

          </div>
          <span class="pull-left">-</span>
          <div class="pull-left">
            <%= f.select :price_lteq, [['US$ 50,000', 50000],
                                      ['US$ 100,000', 100000],
                                      ['US$ 150,000', 150000],
                                      ['US$ 200,000', 200000],
                                      ['US$ 350,000', 350000],
                                      ['US$ 600,000', 600000]] %>

          </div>
        </div>
      </div>
      <div class="form-group">
        <h5>Dormitorios</h5>
        <div class="radio-btn-group radio-btn-group-justified">
          <%= f.radio_button(:room_eq, "") %>
          <%= f.label :room_eq, "...", id: "none" %>
          <%= f.radio_button(:room_eq, "1") %>
          <%= f.label :room_eq, "1+", id: "one" %>
          <%= f.radio_button(:room_eq, "2") %>
          <%= f.label :room_eq, "2+", id: "two" %>
          <%= f.radio_button(:room_eq, "3") %>
          <%= f.label :room_eq, "3+", id: "three" %>
          <%= f.radio_button(:room_eq, "4") %>
          <%= f.label :room_eq, "4+", id: "four" %>
          <%= f.radio_button(:room_eq, "5") %>
          <%= f.label :room_eq, "5+", id: "five" %>
        </div>
      </div>
      <div class="form-group">
        <h5>Baños</h5>
        <div class="radio-btn-group radio-btn-group-justified">
          <%= f.radio_button(:bath_eq, "") %>
          <%= f.label :bath_eq, "...", id: "nonebath" %>
          <%= f.radio_button(:bath_eq, "1") %>
          <%= f.label :bath_eq, "1+", id: "one-bath" %>
          <%= f.radio_button(:bath_eq, "2") %>
          <%= f.label :bath_eq, "2+", id: "two-bath" %>
          <%= f.radio_button(:bath_eq, "3") %>
          <%= f.label :bath_eq, "3+", id: "three-bath" %>
          <%= f.radio_button(:bath_eq, "4") %>
          <%= f.label :bath_eq, "4+", id: "four-bath" %>
          <%= f.radio_button(:bath_eq, "5") %>
          <%= f.label :bath_eq, "5+", id: "five-bath" %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <%= f.submit "Buscar", class: "btn btn-sm btn-primary" %>
      <a class="btn btn-link" data-turbolinks="false">Cancelar</a>
    </div>
  <% end %>
</aside>
