<%= form_for @property do |f| %>

  <% if @property.image.present? %>
    <%= image_tag @property.image_url %>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :image, value: @property.cached_image_data %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.number_field :price %>
  </div>

  <%= f.submit "Publicar", class: "btn btn-primary" %>
<% end %>
