<%= provide(:button_text, 'Publicar propiedad') %>
<%#= provide(:url, agent_properties_path) %>

<aside id="main-sidebar">
  <a href="" class="hidden-lg main-block-close">
    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
  </a>
  <ul class="main-menu">
    <li class="alt-profile-img">
      <a href="">
        <% if current_agent.avatar.present? %>
          <%= image_tag current_agent.avatar_url(:small) %>
          <h4><%= current_agent.name %></h4>
        <% else %>
          <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg") %>
          <h4><%= current_agent.name %></h4>
        <% end %>
        <!-- <img src="../images/03.jpg" alt="profile">
        <h4>Rafael Montas</h4> -->
      </a>
    </li>
    <li>
      <a href="../index.html">
        <i class="fa fa-home" aria-hidden="true"></i>
        Inicio
      </a>
    </li>
    <li class="active">
      <%= link_to private_path do %>
        <i class="fa fa-th-list" aria-hidden="true"></i>
        Propiedades
      <% end %>
    </li>
    <li>
      <%= link_to private_path do %>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
        Prop. Pendientes
      <% end %>
    </li>
    <li>
      <%= link_to(edit_agent_path(current_agent)) do %>
        <i class="fa fa-cog" aria-hidden="true"></i>
        Editar Perfil
      <% end %>
    </li>
    <li>
      <%= link_to agents_logout_path, method: "delete" do %>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Cerrar Sesión
      <% end %>
    </li>
  </ul>
</aside>
<section id="main-content">
  <div class="main-container agent-new-property">
    <header class="main-title text-center">
      <h2>Nueva Propiedad</h2>
      <small>Agregar nueva propiedad para ser confirmada</small>
    </header>
    <%= render 'shared/properties_error_messages' %>
    <div class="submit-property">
      <%= form_for([@agent, @property], url: agent_properties_path) do |f| %>


        <ul class="submit-property-steps">
          <li class="active">
            <a data-turbolinks="false">1</a>
          </li>
          <li>
            <a data-turbolinks="false">2</a>
          </li>
          <li>
            <a data-turbolinks="false">3</a>
          </li>
          <li>
            <a data-turbolinks="false">4</a>
          </li>
        </ul>
        <div class="tab-content submit-property-content">
          <div class="tab-pane fade" id="submit-property-1">
            <div class="card">
              <div class="card-header">
                <h2>Ubicación De La Propiedad</h2>
                <small>Dirección</small>
              </div>
              <div class="card-body">
                <div class="form-group form-group-float" id="form-for-address">
                  <%= f.text_field :address, class: "form-control" %>
                  <%= f.label :address, "Calle/Ubicación de la Propiedad" %>
                </div>
                <div class="form-group form-group-float" id="form-for-name">
                  <%= f.text_field :name, class: "form-control" %>
                  <%= f.label :name, "Nombre ej. Edificio, solar, casa..." %>
                </div>
                <div class="form-group">
                  <%= f.label :location, "Sector" %>
                  <%= f.select :location, [['Naco', 'naco'], ['Piantini', 'piantini'], ['Evaristo Morales', 'evaristo morales']] %>
                </div>
                <a data-turbolinks="false" class="btn-circle btn-primary submit-property-button" id="submit-property-1-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="submit-property-2">
            <div class="card">
              <div class="card-header">
                <h2>Información De La Propiedad 1</h2>
                <small>Datos Generales</small>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <%= f.label :kind, "Tipo de Propiedad" %>
                  <%= f.select :kind, [['Apartamento', 'apartamento'],
                                       ['Penthouse', 'penthouse'],
                                       ['Casa', 'casa'],
                                       ['Villa', 'villa'],
                                       ['Solar', 'solar'],
                                       ['Oficina', 'oficina'],
                                       ['Edificio', 'edificio'],
                                       ['Local Comercial', 'local comercial']],
                                       selected: 'apartamento' %>
                </div>
                <div class="form-group">
                  <%= f.label :sale, "Venta/Alquiler" %>
                  <%= f.select :sale, [['En Venta', 'en venta'], ['En Alquiler', 'en alquiler']], selected: 'venta' %>
                </div>
                <div class="form-group form-group-float" id="form-for-mts">
                  <%= f.number_field :mts, class: "form-control" %>
                  <%= f.label :mts, "Metros Cuadrados (mt2)" %>
                </div>
                <div class="form-group form-group-float" id="form-for-price">
                  <%= f.number_field :price, class: "form-control" %>
                  <%= f.label :price, "Precio De Publicación en USD$" %>
                </div>
                <a data-turbolinks="false" class="btn-circle btn-primary submit-property-button" id="submit-property-2-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="submit-property-3">
            <div class="card">
              <div class="card-header">
                <h2>Información De La Propiedad 2</h2>
                <small>Datos Generales</small>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <%= f.label :room, "Habitaciones" %>
                  <%= f.select :room, [['1 habitación', 1],
                                       ['2 habitaciones', 2],
                                       ['3 habitaciones', 3],
                                       ['4 habitaciones', 4],
                                       ['5 habitaciones', 5],
                                       ['6 habitaciones', 6]] %>
                </div>
                <div class="form-group">
                  <%= f.label :bath, "Baños" %>
                  <%= f.select :bath, [['1+ Baño', 1], ['2+ Baños', 2], ['3+ Baños', 3], ['4+ Baños', 4], ['5+ Baños', 5], ['6+ Baños', 6]] %>
                </div>
                <div class="form-group">
                  <%= f.label :parking, "Parqueos" %>
                  <%= f.select :parking, [['1 Parqueo', 1], ['2 Parqueos', 2], ['3 Parqueos', 3], ['4 Parqueos', 4]] %>
                </div>
                <div class="form-group">
                  <%= f.label :general, "Descripción De La Propiedad" %>
                  <%= f.text_area :general %>
                </div>
                <a data-turbolinks="false" class="btn-circle btn-primary submit-property-button" id="submit-property-3-button">
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-10 col-sm-push-1 tab-pane fade" id="submit-property-4">
            <div class="card">
              <div class="card-header">
                <h2>Fotografías De La Propiedad</h2>
                <small>Selecionar Imágenes</small>
              </div>
              <div class="card-body img-upload">
                <div class="form-group">
                  <%= f.label :room, "Habitaciones" %>
                  <%= f.select :room, [['1 habitación', 1],
                                       ['2 habitaciones', 2],
                                       ['3 habitaciones', 3],
                                       ['4 habitaciones', 4],
                                       ['5 habitaciones', 5],
                                       ['6 habitaciones', 6]] %>
                </div>
                <div class="form-group">
                  <%= f.label :bath, "Baños" %>
                  <%= f.select :bath, [['1+ Baño', 1], ['2+ Baños', 2], ['3+ Baños', 3], ['4+ Baños', 4], ['5+ Baños', 5], ['6+ Baños', 6]] %>
                </div>
                <div class="form-group">
                  <%= f.label :parking, "Parqueos" %>
                  <%= f.select :parking, [['1 Parqueo', 1], ['2 Parqueos', 2], ['3 Parqueos', 3], ['4 Parqueos', 4]] %>
                </div>
                <div class="form-group">
                  <%= f.label :general, "Descripción De La Propiedad" %>
                  <%= f.text_area :general %>
                </div>
                <%= f.submit "Enviar para aprovación" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%#= render "form" %>
  </div>
</section>
