<h1>Iniciar Sesión (Usuario)</h1>

<div class="col-sm-4 col-sm-offset-4 signup-form">
  <%= form_for(:session_user, url: users_login_path) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :password %>
    <!-- <%= link_to "(Olvido Contraseña)", new_password_reset_path %> -->
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>Recordarme en esta computadora</span>
    <% end %>

    <%= f.submit "Iniciar Sesión", class: "btn btn-primary" %>
  <% end %>
  <p>Nuevo Usuario? <%= link_to "Registrate ahora!", users_signup_path %></p>
</div>
