<aside id="main-sidebar">
  <a href="" class="hidden-lg main-block-close">
    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
  </a>
  <ul class="main-menu">
    <li class="alt-profile-img">
      <a href="">
        <% if current_agent.avatar.present? %>
          <%= image_tag current_agent.avatar_url(:small) %>
          <h4><%= current_agent.name %></h4>
        <% else %>
          <%= image_tag("https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg") %>
          <h4><%= current_agent.name %></h4>
        <% end %>
        <!-- <img src="../images/03.jpg" alt="profile">
        <h4>Rafael Montas</h4> -->
      </a>
    </li>
    <li>
      <%= link_to root_path do %>
        <i class="fa fa-home" aria-hidden="true"></i>
        Inicio
      <% end %>
    </li>
    <li class="active">
      <%= link_to private_path do %>
        <i class="fa fa-th-list" aria-hidden="true"></i>
        Propiedades
      <% end %>
    </li>
    <li>
      <%= link_to pending_properties_path do %>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
        Prop. Pendientes
      <% end %>
    </li>
    <li>
      <%= link_to(edit_agent_path(current_agent)) do %>
        <i class="fa fa-cog" aria-hidden="true"></i>
        Editar Perfil
      <% end %>
    </li>
    <li>
      <%= link_to agents_logout_path, method: "delete" do %>
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        Cerrar Sesión
      <% end %>
    </li>
  </ul>
</aside>
<section id="main-content">
  <div class="action-header-alt">
    <div class="action-header-item action-header-add">
      <%= link_to(new_agent_property_path(current_agent), class: "btn btn-danger btn-sm") do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
        Agregar Propiedad
      <% end %>
    </div>
  </div>
  <div class="main-container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    <header class="main-title">
      <h2>Propiedades</h2>
    </header>
    <div class="list-group list-group-block">
      <div class="list-group-header text-left">
        Total de Propiedades: <%= current_agent.properties.count %>
      </div>
      <% @properties.each do |property| %>
        <div class="list-group-item media">
          <%= link_to(property_path(property)) do %>
            <div class="pull-left">
              <% if property.image1.present? %>
                <%= image_tag property.image1_url(:large, public: true), class: "list-group-img" %>
              <% elsif property.image2.present? %>
                <%= image_tag property.image2_url(:large, public: true), class: "list-group-img" %>
              <% else %>
                <%= image_tag "https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg", class: "list-group-img" %>
              <% end %>
            </div>
            <div class="media-body list-group-text agent-properties">
              <div class="listings-grid-body">
                <strong><%= property.address %></strong>
                <small><%= property.name %></small>
              </div>
              <ul class="listings-grid-attrs">
                <li>
                  <%= fa_icon "bed" %>
                  <%= property.room %>
                </li>
                <li>
                  <%= fa_icon "bath" %>
                  <%= property.bath %>
                </li>
                <li>
                  <%= fa_icon "car" %>
                  <%= property.parking %>
                </li>
              </ul>
            </div>
          <% end %>
          <div class="listings-grid-agent">
            <div class="list-group-label hidden-xs">
              <%= link_to(agent_property_path(current_agent, property), class: "delete", method: :delete, data: { confirm: "Seguro que desea eliminar esta propiedad?" }) do %>
                <i class="fa fa-trash-o" aria-hidden="true"></i>
                <span>Eliminar</span>
              <% end %>
              <%= link_to(edit_agent_property_path(current_agent, property), class: "edit") do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
                <span>Editar</span>
              <% end %>
            </div>
            <%= link_to(edit_agent_property_path(current_agent, property), class: "more visible-xs") do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= will_paginate @properties %>
    </div>
  </div>
</section>
