
<section class="section">
  <div class="container agent-public-show">
    <header class="section_title section_title_agent text-left">
      <h2><%= @agent.name %></h2>
    </header>
    <div class="row">
      <div class="col-md-8">
        <div class="card profile">
          <div class="profile-img">
            <% if @agent.avatar.present? %>
              <%= image_tag @agent.avatar_url(:small) %>
            <% end %>
          </div>
          <div class="profile-info">
            <span class="label label-warning">Agente Premium</span>
            <ul class="contact-list">
              <li>
                <i class="fa fa-phone" aria-hidden="true"></i>
                <%= @agent.phone_number %>
              </li>
              <li>
                <i class="fa fa-mobile" aria-hidden="true"></i>
                <%= @agent.alt_phone_number %>
              </li>
              <li>
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <%= @agent.email %>
              </li>
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h2>Propiedades</h2>
          </div>
          <div class="listings-list listings-list-alt">
            <% @properties.each do |property| %>
              <div class="listings-grid-item">
                <%= link_to(property_path(property), class: "media") do %>
                  <div class="listings-grid-main pull-left">
                    <% if property.image1.present? %>
                      <%= image_tag property.image1_url(:large, public: true) %>
                    <% elsif property.image2.present? %>
                      <%= image_tag property.image2_url(:large, public: true) %>
                    <% else %>
                      <%= image_tag "https://s3.amazonaws.com/real.estate.app/agents_images/default-thumbnail.jpg" %>
                    <% end %>
                    <div class="listings-grid-price">
                      <%= number_to_currency(property.price, precision: 0, unit: "US$") %>
                    </div>
                  </div>
                  <div class="media-body">
                    <div class="listings-grid-body">
                      <small><%= property.name %></small>
                      <h5><%= property.address %></h5>
                    </div>
                    <ul class="listings-grid-attrs">
                      <li>
                        <i class="fa fa-bed" aria-hidden="true"></i>
                        <%= property.room %>
                      </li>
                      <li>
                        <i class="fa fa-bath" aria-hidden="true"></i>
                        <%= property.bath %>
                      </li>
                      <li>
                        <i class="fa fa-car" aria-hidden="true"></i>
                        <%= property.parking %>
                      </li>
                    </ul>
                  </div>
                <% end %>
              </div>
            <% end %>
            <%= will_paginate @properties %>
          </div>
        </div>
      </div>
      <div id="agent-question" class="col-md-4 sidebar-mobile">
        <form class="card">
          <div class="card-header">
            <h2>Preguntar...</h2>
          </div>
          <div class="card-body m-t-10">
            <div class="form-group form-group-float form-group-active">
              <input type="text" class="form-control">
              <label>Nombre</label>
            </div>
            <div class="form-group form-group-float form-group-active">
              <input type="text" class="form-control">
              <label>Email</label>
            </div>
            <div class="form-group form-group-float form-group-active">
              <input type="text" class="form-control">
              <label>Número De Contacto</label>
            </div>
            <div class="form-group form-group-float form-group-active">
              <textarea class="textarea-autoheight" rows="6" cols="80"></textarea>
              <label>Mensaje</label>
            </div>
            <small class="text-muted">Al enviarnos su información, está de acuerdo con los terminos y politica de privacidad de TuCasa S. R. L.</small>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary">Solicitar Info.</button>
            <!-- <button class="btn btn-sm btn-link visible-sm-inline visible-xs-inline">Cancelar</button> -->
            <a class="btn btn-sm btn-link visible-sm-inline visible-xs-inline" data-turbolinks="false">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<button class="btn btn-action btn-circle visible-sm visible-xs">
  <i class="fa fa-commenting-o" aria-hidden="true"></i>
</button>
