<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>TuCasa.com | Tu Casa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="agent_signup_login">
    <header id="header_agent_signup_login">
      <div class="header-main">
        <div class="container">

          <%= link_to(root_path, class: "logo") do %>
            <i class="fa fa-home" aria-hidden="true"></i>
            <div class="logo-text">
              <span>TuCasa</span>
              <span>Tu verdadera casa</span>
            </div>
          <% end %>
          <!-- Modify for production -->
          <% if request.original_url == "http://localhost:3000/agents/signup" %>
            <%= link_to(agents_login_path, class: "login") do %>
              <%= fa_icon "user-o" %>
              Iniciar Sesión
            <% end %>
          <% elsif request.original_url == "http://localhost:3000/agents/login" %>
            <%= link_to(agents_signup_path, class: "login") do %>
              <%= fa_icon "user-o" %>
              Registrate
            <% end %>
          <% end %>
        </div>
      </div>
    </header>
    <%# flash.each do |message_type, message| %>
      <%#= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <%# end %>
    <%= yield %>
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <ul>
            <li>
              <a href="#">Inicio</a>
            </li>
            <li>
              <a href="#">Nosotros</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-middle">
        <div class="container">
          <ul>
            <li>
              <a href="#">Soporte a Agentes Inmobiliarios</a>
            </li>
            <li>
              <a href="#">Vende con Nosotros</a>
            </li>
            <li>
              <a href="#">Politicas de Pivadica</a>
            </li>
            <li>
              <a href="#">Terminos &amp; Condiciones</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <p>2017-2018 TuCasa S.R.L<sup>&copy</sup>. Todos los derechos reservados.<br>
          Tucasa.com<sup>&reg</sup> es operado por Tucasa S.R.L<sup>&copy</sup>.
          </p>
        </div>
      </div>
    </footer>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
